img{
    border-radius: 50%;
    width: 30%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100dvw;
    background: #520d4b ;
    background-repeat: no-repeat;
    background-image: linear-gradient(358deg,rgba(82, 13, 75, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    color: white;
    padding:0 20px;
}
.container-filho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 700px;
}
.botoes{
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem ;
    display: block;
    border: none;
    border-radius: 100px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
/* @media (orientation: landscape) {
  .container-filho {
    max-width: 500px;
  }
} */